<div class="error">
  <div class="error-box">
    <div class="err-text">
      <div class="error-404-content">
        <h2 class="title">抱歉!</h2>
        <h4 class="sub-title">未找到此页面。</h4>
        <p>
          罗曼罗兰曾经说过，世上只有一种英雄主义，那就是认清生活真相却依然热爱生活。
        </p>
        <div class="btn btn-md btn-outline-one icon-space-right">
          <a href="/"
            ><i class="icofont-double-left" style="margin-right: 4px"></i
            >返回首页</a
          >
        </div>
      </div>
    </div>
    <div class="err-image">
      <div class="image">
        <img class="img-fluid" src="/assets/images/404-error.png" alt="" />
      </div>
    </div>
  </div>
</div>
